/* We use the !important rule in order to override the inline style on the <canvas> element */
#protein_viewer canvas {
    background-color: rgba(0, 0, 0, 0) !important;
}
#sequence {
    max-width: 100%;
    word-wrap: break-word;
    min-height: 200px;
}